<!--SDEV255 Final Project-->
<!-- display all of the courses created on this page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jivy Tek | Login</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="wrapper">
        <header id="header">
            <h1 id="schoolname">Jivy Tek</h1>
            <h2>Login</h2>
            <!--<div id="search">
                <input id="searchbar" type="search" placeholder="Search" aria-label="Search">
                <button id="search-btn" type="submit">Search</button>
            </div>-->
        </header>

        <div class="navbar">
            <nav>
                <h3>Home</h3>
                <p><a href="/">some button</a></p>
                <p><a href="/">another one</a></p>
                <p><a href="/">and another</a></p>
            </nav>
        </div>
        <div class="login">
            <p>This is where login info belongs</p>
            <label for="formGroupExampleInput" class="form-label">Student or Teacher UserName</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="UserName">
            <label for="formGroupExampleInput" class="form-label">Password</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Password">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>

        <footer id="foot">&copy; A JoBaRy Product, 2022.</footer>
    </div>
</body>

</html>