<!-- a page to add coursess or an index of courses with a button to add new courses -->
<!-- Add the ability to create, read, update, and destroy a course -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css"> <!--Reference the stylesheet (Barb)-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<h1>JoBaRy University</h1> <!--Add a heading (Barb)-->

<body>
    <div class="wrapper">
        <h2>Courses</h2> <!--Change from h1 to h2 (Barb)-->

        <div class="navbar">
            <nav>
                <!--Remove h3 "Home"-->
                <p><a href="login.html">Home</a></p> <!--Add file name (Barb)-->
                <p><a href="add_courses.html">Courses</a></p> <!--Add Login link (Barb)-->
                <p><a href="createAcct.html">Account</a></p> <!--Add Create account link (Barb)-->
            </nav>
        </div>

        <h3>Add, Drop, Edit or Delete Classes</h3><!--Add new h3 (Barb)-->
        <!--Create Dropdown menu (Barb)-->
        <div class="dropdown">
            <button class="dropbtn">Current Classes</button>
            <button class="dropdnbtn" >Add Classes</button>
            <button class="dropdnbtn">Update Classes</button>
            <button class="dropdnbtn">Delete Classes</button>
            <div class="dropdown-content">
              <a href="ENG111.html">ENG111</a>
              <a href="MATH153.html">MATH153</a>
              <a href="HIST226.html">HIST226</a>
              <a href="ART101.html">ART101</a>
              <a href="MUSIC101.html">MUSIC101</a>
          </div>
          </div>
    </div>
          </html>
</body>
<footer id="foot">&copy; A JoBaRy Product, 2022.</footer>
</html>