<!--View the ART 101 Course (Barb)-->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>ART 101</title>
</head>
<h1>JoBaRy University</h1>
<div class="navbar">
    <nav>
        <p><a href="index.html">Home</a></p> 
        <p><a href="login.html">Login</a></p> 
        <p><a href="add_courses.html">Courses</a></p> 
</div>
<h2>Class Description</h2>
<h3>3 Credits</h3>
<p>This course is designed to improve visual perception and expand critical awareness through a variety of hands-on studio projects. The student will be introduced to the methods, materials, media, vocabulary, and techniques of making art. This course is suggested for students who are interested in developing their creative skills but are not art majors. Students are responsible for purchasing their own materials for this course.</p>
<h3> Learning Objectives</h3>
<ul>
    <li>Develop their visual perception through a variety of hands-on studio projects. </li>
    <li>Discuss artwork in formal terms. </li>
    <li>Evaluate critically their work and the work of others.</li>
  </ul> 
</html>