<!--View the HISTORY 226 Course (Barb)-->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>HISTORY 226</title>
</head>
<h1>JoBaRy University</h1>
<div class="navbar">
    <nav>
        <p><a href="index.html">Home</a></p> 
        <p><a href="login.html">Login</a></p> 
        <p><a href="add_courses.html">Courses</a></p> 
</div>
<h2>Class Description</h2>
<p>This will be the class description</p>
</html>